.container {
  display: block;
}

.main {
  width: 100%;
  padding: 0;
}

.main section {
  padding-bottom: 6rem;
  scroll-margin-top: 6rem;
}

.main section .section_head {
  position: sticky;
  top: 0;
  z-index: 20;
  margin-bottom: 1rem;
  width: 100vw;
  /* background-color: var(--color-light-beige); */
  padding: 1.25rem 3rem;
  backdrop-filter: blur(8px);
  margin-inline: -3rem;
  display: block;
}

@media screen and (min-width: 1024px) {
  .container {
    display: flex;
    justify-content: space-between;
    overflow: unset;
    gap: 1rem;
  }

  .main {
    width: 50%;
    padding-top: 6rem;
  }

  .main section .section_head {
    display: none;
  }
}
