:root {
  --color-light-beige: #f3e7d0;
  --color-beige: #e0c39a;
  --color-beige-hover: #e0c39a33;
  --color-dark-beige: #a3875b;
  --color-light-blue: #8fb9c9;
  --color-medium-blue: #527d8f;
  --color-dark-blue: #2a3b44;
  --color-blue-hover: #bae1f1;
  --color-black: #161b1f;
  --color-white: #f8f4ec;
  --font-h1-size: 3rem;
  --font-h2-size: 1.25rem;
  --font-size: 1rem;
  --font-sub-size: 0.9rem;
  --font-caption-size: 0.8rem;

  --color-bg-main: var(--color-light-beige);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-main: var(--color-dark-blue);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100svw;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg-main);
  overflow: visible;
}

/* Change the selection color */
::selection {
  background: var(--color-blue-hover);
  color: var(--color-dark-blue);
}
::-moz-selection {
  background: var(--color-beige-hover);
  color: var(--color-dark-beige);
}

h1 {
  font-size: var(--font-h1-size);
  font-weight: 700;
  letter-spacing: -3px;
  color: var(--color-dark-blue);
}

h2 {
  font-size: var(--font-h2-size);
  font-weight: 500;
  line-height: 1.75rem;
  letter-spacing: -0.025em;
  color: var(--color-dark-blue);
}

p,
.paragraph {
  font-size: var(--font-size);
  line-height: 24px;
  color: var(--color-medium-blue);
}

.subtext {
  font-size: var(--font-sub-size);
}

.caption {
  font-size: var(--font-caption-size);
}
.bold {
  font-weight: 600;
}
.noselect {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
